
altair==5.2.0
altgraph==0.17.4

anaconda-client==1.12.0
anaconda-navigator==2.4.2

appdirs==1.4.4

atomicwrites==1.4.0

auto-py-to-exe==2.42.0

backports.weakref==1.0.post1

blinker==1.7.0

bottle==0.12.25
bottle-websocket==0.2.9

brotlipy==0.7.0
cachetools==5.3.2

clyent==1.2.2


conda-verify==3.4.2

constantly==15.1.0

cssselect==1.1.0
cx-Logging==3.1.0
cx_Freeze==6.15.15

daal4py==2023.1.1

datashape==0.5.4

Eel==0.16.0

et-xmlfile==1.1.0

fonttools==4.25.0

gevent==23.9.1
gevent-websocket==0.10.1
gitdb==4.0.11
GitPython==3.1.41

greenlet==3.0.3

inflection==0.5.1

jsonpointer==2.1

keras==2.15.0

lief==0.14.0

mkl-service==2.4.0

munkres==1.1.4
mypy-extensions==0.4.3
navigator-updater==0.4.0


openpyxl==3.0.10

patsy==0.5.3
pefile==2023.2.7
pep8==1.7.1

Pillow==9.4.0
pivottablejs==0.9.0

ply==3.11

prettytable==3.10.0

protobuf==4.25.2

pyarrow==11.0.0

pyasn1-modules==0.2.8

pycurl==7.45.2
pydeck==0.8.1b0
PyDispatcher==2.0.5

pyecharts==2.0.4

pyinstaller==6.3.0
pyinstaller-hooks-contrib==2023.12

pyls-spyder==0.4.0

PyQt5==5.15.7

PyQtWebEngine==5.15.4

PySimpleGUI==4.60.5

python-lsp-jsonrpc==1.0.0

pywin32==305.1
pywin32-ctypes==0.2.2

queuelib==1.5.0

rich==13.7.0

scipy==1.10.1

simplejson==3.19.2

smmap==5.0.1

streamlit==1.31.1
streamlit-echarts==0.4.0
streamlit-lchart-card==1.0.1

TBB==0.2

tzdata==2024.1
tzlocal==5.2

validators==0.22.0

webencodings==0.5.1

whichcraft==0.6.1

xgboost==2.0.3

zope.event==5.0

zstandard==0.19.0
matplotlib == 3.83